.button {
  padding: 0.75rem 1.6rem;
  border-radius: 8px;
  cursor: pointer;

  font-family: var(--font-family-2);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-button-medium);
  letter-spacing: var(--letter-spacing-button-medium);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.button:disabled {
  cursor: not-allowed;
  background-color: var(--gray-300);
  color: var(--gray-700);
  border: none;
}

/* CONTAINED */

.contained {
  border: none;
}

.contained.primary {
  background-color: var(--primary-500);
  color: var(--white);
}

.contained.primary:hover {
  background-color: var(--primary-400);
}

.contained.primary:active {
  background-color: var(--primary-600);
}

.contained.secondary {
  background-color: var(--secondary-500);
  color: var(--black);
}

.contained.secondary:hover {
  background-color: var(--secondary-400);
}

.contained.secondary:active {
  background-color: var(--secondary-600);
}

.contained.danger {
  background-color: var(--error-500);
  color: var(--white);
}

.contained.danger:hover {
  background-color: var(--error-400);
}

.contained.danger:active {
  background-color: var(--error-600);
}

/* OUTLINED */

.outlined {
  border-width: 1px;
  background: none;
}

.outlined.primary {
  border-color: var(--primary-500);
  color: var(--primary-500);
}

.outlined.primary:hover {
  border-color: var(--primary-400);
  color: var(--primary-400);
}

.outlined.primary:active {
  border-color: var(--primary-600);
  color: var(--primary-600);
}

.outlined.secondary {
  border-color: var(--secondary-500);
  color: var(--secondary-500);
}

.outlined.secondary:hover {
  border-color: var(--secondary-400);
  color: var(--secondary-400);
}

.outlined.secondary:active {
  border-color: var(--secondary-600);
  color: var(--secondary-600);
}

.outlined.danger {
  border-color: var(--error-500);
  color: var(--error-500);
}

.outlined.danger:hover {
  border-color: var(--error-400);
  color: var(--error-400);
}

.outlined.danger:active {
  border-color: var(--error-600);
  color: var(--error-600);
}

/* TEXT */

.text {
  border: none;
  background: none;
}

.text.primary {
  color: var(--primary-600);
}

.text.primary:hover {
  color: var(--primary-500);
}

.text.primary:active {
  color: var(--primary-700);
}

.text.secondary {
  color: var(--secondary-600);
}

.text.secondary:hover {
  color: var(--secondary-500);
}

.text.secondary:active {
  color: var(--secondary-700);
}

.text.danger {
  color: var(--error-600);
}

.text.danger:hover {
  color: var(--error-500);
}

.text.danger:active {
  color: var(--error-700);
}
